/.gitattributes export-ignore
/.gitignore export-ignore

/.travis.yml

/phpcs.dist.xml export-ignore
/phpunit.dist.xml export-ignore
/grumphp.dist.yml export-ignore

/composer.lock export-ignore

/test export-ignore
